In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
## RFM => Regency (Último -> data - data - 1) / Frequency (quantidade -> n) / Monetary (soma/média -> R   ~x)

def rfm_variables(df):
    ## FREQUENCY
    f_sales = len(df) ## Quantidade de vendas 
    f_profit = len(df[df['Profit'] > 0]) ## Quantidade de vendas com lucros
    ## MONETARY
    m_sales = round(df['Sales'].sum(), 2) ## Total de vendas
    m_profit = round(df['Profit'].sum(), 2) ## Total de vendas com lucro
    m_quantity = df['Quantity'].sum() ## Total de quantidades
    ## PERIODICITY
    df_sort = df[['Order Date']].sort_values(by='Order Date').drop_duplicates() ## Periodicidade
    df_sort['diff'] = df_sort['Order Date'] - df_sort['Order Date'].shift(1)
    df_sort['diff_int'] = df_sort['diff'].dt.days
    ## REGENCY
    r_days = round(df_sort['diff_int'].mean(), 2)
    return f_sales, f_profit, m_sales, m_profit, m_quantity, r_days

In [3]:
def fit_data(data, variable):
    rfm = pd.DataFrame()
    variables = data[variable].unique()
    for v in variables:
        var = data[data[variable] == v]
        f_sales, f_profit, m_sales, m_profit, m_quantity, r_days = rfm_variables(var)
        rfm = rfm.append(
            {
                'reference': v,
                'm_sales': m_sales,
                'm_profit': m_profit, 
                'm_quantity': m_quantity,
                'r_days': r_days,
                'f_sales': f_sales, 
                'f_profit': f_profit
            },
            ignore_index = True
        )
    return rfm

In [4]:
data = pd.read_feather('database/base.feather')
data

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Region,...,OMonth,OPeriod,Order Date Month,SYear,SMonth,SPeriod,Ship Date Month,Delivery,Price,Benefit
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,South,...,11,35,2016-11-01,2016,11,35,2016-11-01,3,130.98,1
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,South,...,11,35,2016-11-01,2016,11,35,2016-11-01,3,243.98,1
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,West,...,6,30,2016-06-01,2016,6,30,2016-06-01,4,7.31,1
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,...,10,22,2015-10-01,2015,10,22,2015-10-01,7,191.52,0
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,South,...,10,22,2015-10-01,2015,10,22,2015-10-01,7,11.18,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,South,...,1,1,2014-01-01,2014,1,1,2014-01-01,2,8.42,1
9990,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,West,...,2,38,2017-02-01,2017,3,39,2017-03-01,5,45.98,1
9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,West,...,2,38,2017-02-01,2017,3,39,2017-03-01,5,129.29,1
9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,West,...,2,38,2017-02-01,2017,3,39,2017-03-01,5,7.40,1
9993,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,Westminster,California,West,...,5,41,2017-05-01,2017,5,41,2017-05-01,5,121.58,1

In [5]:
variables = ['m_sales', 'm_profit', 'm_quantity', 'r_days', 'f_sales', 'f_profit']

In [6]:
state_rfm = fit_data(data, 'State')
state_rfm = state_rfm.fillna(0)
state_rfm['cluster'] = KMeans(
    n_clusters=3,
    random_state=0
).fit(
    state_rfm[
        variables
    ]
).labels_

state_rfm

/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(
/tmp/ipykernel_1659/3999741325.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rfm = rfm.append(

,reference,m_sales,m_profit,m_quantity,r_days,f_sales,f_profit,cluster
0,Kentucky,36591.75,11199.70,523,24.63,139,138,0
1,California,457687.63,76381.39,7667,2.21,2001,1884,1
2,Florida,89473.71,-3399.30,1379,7.75,383,252,2
3,North Carolina,55603.16,-7490.91,983,10.66,249,180,0
4,Washington,138641.27,33402.65,1883,6.54,506,483,2
5,Texas,170188.05,-25729.36,3724,3.73,985,493,2
6,Wisconsin,32114.61,8401.80,463,27.23,110,110,0
7,Utah,11220.06,2546.53,219,53.16,53,53,0
8,Nebraska,7464.93,2037.09,136,57.00,38,38,0
9,Pennsylvania,116511.91,-15559.96,2153,5.70,587,303,2
10,Illinois,80166.10,-12607.89,1845,5.98,492,235,2
11,Minnesota,29863.15,10823.19,331,32.00,89,88,0
12,Michigan,76269.61,24463.19,946,12.96,255,254,2
13,Delaware,27451.07,9977.37,367,34.61,96,94,0
14,Indiana,53555.36,18382.94,578,20.24,149,148,0
15,New York,310876.27,74038.55,4224,3.35,1128,1074,1
16,Arizona,35282.00,-3427.92,862,14.79,224,138,0
17,Virginia,70636.72,18597.95,893,13.31,224,221,2
18,Tennessee,30661.87,-5341.69,681,16.72,183,117,0
19,Alabama,19510.64,5786.83,256,41.15,61,60,0
20,South Carolina,8481.71,1769.06,172,75.68,42,42,0
21,Oregon,17431.15,-1190.47,499,25.44,124,81,0
22,Colorado,32108.12,-6527.86,693,18.80,182,114,0
23,Iowa,4579.76,1183.81,112,85.56,30,30,0
24,Ohio,78258.14,-16971.38,1759,7.22,469,258,2
25,Missouri,22205.15,6436.21,252,50.36,66,66,0
26,Oklahoma,19683.39,4853.96,247,41.13,66,66,0
27,New Mexico,4783.52,1157.12,151,65.29,37,36,0
28,Louisiana,9217.03,2196.10,156,72.05,42,42,0
29,Connecticut,13384.36,3511.49,281,30.91,82,79,0
30,New Jersey,35764.31,9772.91,454,24.43,130,127,0
31,Massachusetts,28634.43,6785.50,491,23.91,135,129,0
32,Georgia,49095.84,16250.04,705,16.71,184,184,0
33,Nevada,16729.10,3316.77,168,64.41,39,37,0
34,Rhode Island,22627.96,7285.63,199,49.91,56,52,0
35,Mississippi,10771.34,3172.98,221,56.83,53,52,0
36,Arkansas,11678.13,4008.69,240,55.12,60,60,0
37,Montana,5589.35,1833.33,56,180.43,15,15,0
38,New Hampshire,7292.52,1706.50,127,76.31,27,26,0
39,Maryland,23705.52,7031.18,420,29.44,105,102,0
40,District of Columbia,2865.02,1059.59,40,208.67,10,10,0
41,Kansas,2914.31,836.44,74,89.92,24,24,0
42,Vermont,8929.37,2244.98,50,151.80,11,11,0
43,Maine,1270.53,454.49,35,387.50,8,8,0
44,South Dakota,1315.56,394.83,42,346.25,12,12,0
45,Idaho,4382.49,826.72,64,135.30,21,21,0
46,North Dakota,919.91,230.15,30,222.00,7,7,0
47,Wyoming,1603.14,100.20,4,0.00,1,1,0
48,West Virginia,1209.82,185.92,18,113.00,4,3,0

In [7]:
cluster = pd.DataFrame()

for index, row in enumerate(KMeans(n_clusters=3, random_state=0).fit(state_rfm[variables]).cluster_centers_):
    cluster = cluster.append(
        {
            'cluster': index,
            'clf_sales': row[0],
            'clf_profit': row[1],
            'clm_sales': row[2],
            'clm_profit': row[3],
            'clm_quantity': row[4],
            'clr_days': row[5]
        },
        ignore_index= True 
    ) 

cluster

/tmp/ipykernel_1659/1360041999.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cluster = cluster.append(
/tmp/ipykernel_1659/1360041999.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cluster = cluster.append(
/tmp/ipykernel_1659/1360041999.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cluster = cluster.append(

,cluster,clf_sales,clf_profit,clm_sales,clm_profit,clm_quantity,clr_days
0,0.0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
1,1.0,384281.950000,75209.970000,5945.500000,2.780000,1564.500,1479.000000
2,2.0,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000

In [8]:
state_rfm = state_rfm.merge(cluster, on='cluster', how='left')
state_rfm

,reference,m_sales,m_profit,m_quantity,r_days,f_sales,f_profit,cluster,clf_sales,clf_profit,clm_sales,clm_profit,clm_quantity,clr_days
0,Kentucky,36591.75,11199.70,523,24.63,139,138,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
1,California,457687.63,76381.39,7667,2.21,2001,1884,1,384281.950000,75209.970000,5945.500000,2.780000,1564.500,1479.000000
2,Florida,89473.71,-3399.30,1379,7.75,383,252,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
3,North Carolina,55603.16,-7490.91,983,10.66,249,180,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
4,Washington,138641.27,33402.65,1883,6.54,506,483,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
5,Texas,170188.05,-25729.36,3724,3.73,985,493,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
6,Wisconsin,32114.61,8401.80,463,27.23,110,110,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
7,Utah,11220.06,2546.53,219,53.16,53,53,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
8,Nebraska,7464.93,2037.09,136,57.00,38,38,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
9,Pennsylvania,116511.91,-15559.96,2153,5.70,587,303,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
10,Illinois,80166.10,-12607.89,1845,5.98,492,235,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
11,Minnesota,29863.15,10823.19,331,32.00,89,88,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
12,Michigan,76269.61,24463.19,946,12.96,255,254,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
13,Delaware,27451.07,9977.37,367,34.61,96,94,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
14,Indiana,53555.36,18382.94,578,20.24,149,148,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
15,New York,310876.27,74038.55,4224,3.35,1128,1074,1,384281.950000,75209.970000,5945.500000,2.780000,1564.500,1479.000000
16,Arizona,35282.00,-3427.92,862,14.79,224,138,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
17,Virginia,70636.72,18597.95,893,13.31,224,221,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
18,Tennessee,30661.87,-5341.69,681,16.72,183,117,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
19,Alabama,19510.64,5786.83,256,41.15,61,60,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
20,South Carolina,8481.71,1769.06,172,75.68,42,42,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
21,Oregon,17431.15,-1190.47,499,25.44,124,81,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
22,Colorado,32108.12,-6527.86,693,18.80,182,114,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
23,Iowa,4579.76,1183.81,112,85.56,30,30,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
24,Ohio,78258.14,-16971.38,1759,7.22,469,258,2,102518.188750,274.487500,1822.750000,7.898750,487.625,312.375000
25,Missouri,22205.15,6436.21,252,50.36,66,66,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
26,Oklahoma,19683.39,4853.96,247,41.13,66,66,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
27,New Mexico,4783.52,1157.12,151,65.29,37,36,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
28,Louisiana,9217.03,2196.10,156,72.05,42,42,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
29,Connecticut,13384.36,3511.49,281,30.91,82,79,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
30,New Jersey,35764.31,9772.91,454,24.43,130,127,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
31,Massachusetts,28634.43,6785.50,491,23.91,135,129,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
32,Georgia,49095.84,16250.04,705,16.71,184,184,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
33,Nevada,16729.10,3316.77,168,64.41,39,37,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
34,Rhode Island,22627.96,7285.63,199,49.91,56,52,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
35,Mississippi,10771.34,3172.98,221,56.83,53,52,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
36,Arkansas,11678.13,4008.69,240,55.12,60,60,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
37,Montana,5589.35,1833.33,56,180.43,15,15,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
38,New Hampshire,7292.52,1706.50,127,76.31,27,26,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
39,Maryland,23705.52,7031.18,420,29.44,105,102,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
40,District of Columbia,2865.02,1059.59,40,208.67,10,10,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
41,Kansas,2914.31,836.44,74,89.92,24,24,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
42,Vermont,8929.37,2244.98,50,151.80,11,11,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
43,Maine,1270.53,454.49,35,387.50,8,8,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
44,South Dakota,1315.56,394.83,42,346.25,12,12,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
45,Idaho,4382.49,826.72,64,135.30,21,21,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
46,North Dakota,919.91,230.15,30,222.00,7,7,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
47,Wyoming,1603.14,100.20,4,0.00,1,1,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308
48,West Virginia,1209.82,185.92,18,113.00,4,3,0,18166.447179,3430.287179,292.307692,77.675641,76.000,66.692308

In [ ]:
state_rfm.to_feather('database/clusterizacao_estado.feather')